button {
  font-family: "NEXONFootballGothicLA1";
  font-size: 14px;
  width: 100px;
  color: white;
  background-color: black;
  border: none;
}

#keyword {
  font-family: "NEXONFootballGothicLA1";
  background: url("../img/input-box.png") no-repeat;
  width: 180px;
  height: 27px;
  border: none;
  outline: 0;
}

::placeholder {
  font-family: "NEXONFootballGothicLA1";
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: "NEXONFootballGothicLA1";
}

::-ms-input-placeholder {
  font-family: "NEXONFootballGothicLA1";
}

textarea {
  font-family: "NEXONFootballGothicLA1";
}
