#keyword{
    width: 500px;
    margin-left: 40px;
}

#generateKeytable{
    width: 500px;
    margin-left: 40px;
}

#regenerateKeytable{
    width: 500px;
    margin-left: 40px;
}

span{
    margin-left: 40px; 
}
